

<div class="container-fluid main-container p-0">
  <nav class="px-5 mt-5">
    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#foa_attendance" role="tab">
        <span>FOA Attendance</span>
        <img src="../../../../assets/img/immigration.png" width="50" height="50" class="float-right">
      </a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#volunteer_index" role="tab">
        <span>Volunteer Index</span>
        <img src="../../../../assets/img/click.png" width="50" height="50" class="float-right">
      </a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#issue_dashboard" role="tab">
        <span>Issue Dashboard</span>
        <img src="../../../../assets/img/stats.png" width="50" height="50" class="float-right">
      </a>
      <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#training_calendar" role="tab">
        <span>Training Calendar</span>
        <img src="../../../../assets/img/calendar (2).png" width="50" height="50" class="float-right">
      </a>
      <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#work_reports" role="tab">
        <span> Work Reports</span>
        <img src="../../../../assets/img/Analysis-report-document-develop-infromation.png" width="50" height="50" class="float-right">
      </a>
    </div>
  </nav>
  <div class="tab-content mx-5" id="nav-tabContent">
    <div class="tab-pane fade show active" id="foa_attendance" role="tabpanel">
      <div class="attendance">
        <div class="d-flex flex-wrap col-sm-12">
            <div class="slo-graph graph">
              <img src="../../../../assets/img/slo.png" class="graph-icon"/>
              <div class="graph-container">
                  <p class="pl-4 mb-0">SLO - 5</p>
                  <span class="pl-4">Active - 5</span>
                  <img src="../../../../assets/img/white-3.png" class="graph-bg"/>
              </div>
            </div>
            <div class="dlo-graph graph">
              <img src="../../../../assets/img/dlo.png" class="graph-icon"/>
                <div class="graph-container">
                    <p class="pl-4 mb-0">DLO - 50</p>
                    <span class="pl-4">Active - 50</span>
                    <img src="../../../../assets/img/white.jpg" class="graph-bg"/>
                </div>
            </div>
            <div class="mlo-graph graph">
              <img src="../../../../assets/img/mlo.png" class="graph-icon"/>
                <div class="graph-container">
                    <p class="pl-4 mb-0">MLO - 806</p>
                    <span class="pl-4">Active - 793</span>
                    <img src="../../../../assets/img/green graph.jpg" class="graph-bg"/>
                    <p style="font-size:15px" class="mb-0 pl-3" data-toggle="collapse" href="#mlo-attendance" role="button" aria-expanded="false" aria-controls="mlo-attendance">Click here for more info</p>
                </div>
            </div>
            <div class="callcenter-graph graph">
              <img src="../../../../assets/img/call center.png" class="graph-icon"/>
              <div class="graph-container">
                  <p class="pl-4 mb-0">Call Center - 200</p>
                  <span class="pl-4">Active - 80</span>
                  <img src="../../../../assets/img/red graph.jpg" class="graph-bg"/>
              </div>
            </div>

            <div class="collapse" id="mlo-attendance">
              <div class="card">
                <div class="card-header">
                  <p class="mb-0 mt-1">District wise Active MLOs</p>
                </div>
                  <div class="card-body d-flex">
                      <div class="col-sm-3">
                        <ul class="list-group">
                            <li  class="list-group-item list-group-item-success border rounded-sm">
                              Ananthapur <span class="badge badge-light float-right">74</span>
                            </li>
                            <li  class="list-group-item list-group-item-info border rounded-sm">
                              Chittoor <span class="badge badge-light float-right">75</span>
                            </li>
                            <li class="list-group-item list-group-item-warning border rounded-sm">
                              East Godavari <span class="badge badge-light float-right">70</span>
                            </li>
                            <li  class="list-group-item list-group-item-danger border rounded-sm">
                              Guntur <span class="badge badge-light float-right">80</span>
                            </li>
                        </ul>
                      </div>
                      <div class="col-sm-3">
                        <ul class="list-group">
                          <li class="list-group-item list-group-item-success border rounded-sm">
                            Dr.YSR Kadapa <span class="badge badge-light float-right">65</span>
                          </li>
                          <li  class="list-group-item list-group-item-info border rounded-sm">
                            Krishna <span class="badge badge-light float-right">50</span>
                          </li>
                          <li  class="list-group-item list-group-item-warning border rounded-sm">
                            Kurnool <span class="badge badge-light float-right">42</span>
                          </li>
                      </ul>
                      </div>
                      <div class="col-sm-3">
                        <ul class="list-group">
                          <li class="list-group-item list-group-item-success border rounded-sm">
                            Nellore <span class="badge badge-light float-right">50</span>
                          </li>
                          <li  class="list-group-item list-group-item-info border rounded-sm">
                            Prakasam <span class="badge badge-light float-right">60</span>
                          </li>
                          <li  class="list-group-item list-group-item-warning border rounded-sm">
                            Srikakulam <span class="badge badge-light float-right">68</span>
                          </li>
                      </ul>
                      </div>
                      <div class="col-sm-3">
                        <ul class="list-group">
                          <li  class="list-group-item list-group-item-success border rounded-sm">
                            Visakapatnam <span class="badge badge-light float-right">63</span>
                          </li>
                          <li  class="list-group-item list-group-item-info border rounded-sm">
                            Vizianagaram <span class="badge badge-light float-right">45</span>
                          </li>
                          <li  class="list-group-item list-group-item-warning border rounded-sm">
                            West Godavari  <span class="badge badge-light float-right">53</span>
                          </li>
                        </ul>
                      </div>
                  </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="volunteer_index" role="tabpanel">
      <mat-tab-group>
        <mat-tab label="Overall">
          <div class="volunteer mt-3">
            <div class="d-flex flex-wrap w-100">
              <div class="donut-graph">
                  <highcharts-chart
                    [Highcharts] = "skillcharts"
                    [options] = "chartOptions"
                    style = "height:400px;display:block;border-radius:3px;margin:auto;">
                  </highcharts-chart>
              </div>
              <div class="donut-graph">
                  <highcharts-chart
                  [Highcharts] = "attitudecharts"
                  [options] = "attitudeChartOptions"
                  style = "height: 400px;display:block;border-radius:3px">
                  </highcharts-chart>
              </div>
            </div>
            <div class="bar-graph bg-white mt-5">
                <highcharts-chart
                  [Highcharts] = "overallcharts"
                  [options] = "overallChartOptions"
                  style = "height: 375px;display:block;border-radius:3px">
                </highcharts-chart>
                <div class="w-100 text-center d-block">
                  <p class="mb-0" style="background-color:#efefef" data-toggle="collapse" href="#assessment" role="button" aria-expanded="false" aria-controls="assessment">Click here for more info</p>
                </div>
            </div>
            <div class="collapse w-100 text-center mt-5" id="assessment">
              <img src="../../../../assets/img/Volunteer  Assessment  Framework.jpg" style="width:60%">
            </div>

          </div>
         </mat-tab>
        <mat-tab label="Leader Board">
          <div class="example-container mat-elevation-z8 m-3">
            <table mat-table [dataSource]="leader" class="w-100 leaderBoardTable">

              <!-- ID Column -->
              <ng-container matColumnDef="rank" >
                <th mat-header-cell *matHeaderCellDef class="cdk-column-total"> Rank </th>
                <td mat-cell *matCellDef="let element">{{element.rank}}</td>
              </ng-container>

              <ng-container matColumnDef="district" >
                <th  mat-header-cell *matHeaderCellDef class="cdk-column-total"> District </th>
                <td mat-cell *matCellDef="let element" > {{element.district}} </td>
                <!-- <td mat-footer-cell *matFooterCellDef> {{getTotal(element)}} </td> -->
              </ng-container>

              <ng-container matColumnDef="mandal">
                <th  mat-header-cell *matHeaderCellDef class="cdk-column-total" > Mandal </th>
                <td mat-cell *matCellDef="let element" >{{element.mandal}}</td>
                <!-- <td mat-footer-cell *matFooterCellDef> {{getTotal(element)}} </td> -->
              </ng-container>

              <ng-container matColumnDef="volunteerName">
                <th mat-header-cell *matHeaderCellDef class="cdk-column-total"> Volunteer Name </th>
                <td mat-cell *matCellDef="let element" >{{element.volunteerName}}</td>
                <!-- <td mat-footer-cell *matFooterCellDef> {{getTotal(element)}} </td> -->
              </ng-container>

              <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef > Total </th>
                <td mat-cell *matCellDef="let element" >{{element.total}}</td>
              </ng-container>



              <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
              <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"[ngStyle]="{color: row}"></tr>
              <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr> -->

            </table>
            <p class="text-center">
              <a (click)="getLeaderFilter()">
               Click here for more info
              </a>
            </p>
          </div>
       </mat-tab>
      </mat-tab-group>

    </div>
    <div class="tab-pane fade" id="issue_dashboard" role="tabpanel">
      <div class="issue_table">
        <div class="d-flex justify-content-between">
          <div>
            <p>Last Updated on: 23-Feb-2021</p>
          </div>
          <div>
            <a href="../../../../assets/doc/GV_WV Issues Tracer_Collated Feb 23.xlsx" class="float-right font-weight-bold mb-1 border border-secondary rounded p-1">Click here to download Issue Tracker Report</a>
          </div>
        </div>
        <div class="example-container mat-elevation-z8 m-3">
          <table mat-table [dataSource]="dataSource" class="w-100">

            <!-- ID Column -->
            <ng-container matColumnDef="stakeholders" >
              <th mat-header-cell *matHeaderCellDef> Stakeholders </th>
              <td mat-cell *matCellDef="let element"><a *ngIf= "element.stakeholders != 'Total'" (click) = "getIssueTracker(element)" [routerLink]>{{element.stakeholders}}</a>
            <span *ngIf = "element.stakeholders === 'Total'">Total</span></td>
              <!-- <td mat-footer-cell *matFooterCellDef> Total </td> -->

            </ng-container>

            <ng-container matColumnDef="green" >
              <th  mat-header-cell *matHeaderCellDef > Green </th>
              <td mat-cell *matCellDef="let element" > {{element.green}} </td>
              <!-- <td mat-footer-cell *matFooterCellDef> {{getTotal(element)}} </td> -->
            </ng-container>

            <ng-container matColumnDef="blue">
              <th  mat-header-cell *matHeaderCellDef > Blue </th>
              <td mat-cell *matCellDef="let element" >{{element.blue}}</td>
              <!-- <td mat-footer-cell *matFooterCellDef> {{getTotal(element)}} </td> -->
            </ng-container>

            <ng-container matColumnDef="orange">
              <th mat-header-cell *matHeaderCellDef > Orange </th>
              <td mat-cell *matCellDef="let element" >{{element.orange}}</td>
              <!-- <td mat-footer-cell *matFooterCellDef> {{getTotal(element)}} </td> -->
            </ng-container>

            <ng-container matColumnDef="yellow">
              <th mat-header-cell *matHeaderCellDef > Yellow </th>
              <td mat-cell *matCellDef="let element" > {{element.yellow}}</td>
              <!-- <td mat-footer-cell *matFooterCellDef> {{getTotal(element)}} </td> -->
            </ng-container>

            <ng-container matColumnDef="red">
              <th mat-header-cell *matHeaderCellDef > Red </th>
              <td mat-cell *matCellDef="let element" >{{element.red}}</td>
              <!-- <td mat-footer-cell *matFooterCellDef> {{getTotal(element)}} </td> -->
            </ng-container>

            <ng-container matColumnDef="black">
              <th mat-header-cell *matHeaderCellDef > Black</th>
              <td mat-cell *matCellDef="let element" >{{element.black}}</td>
              <!-- <td mat-footer-cell *matFooterCellDef> {{getTotal(element)}} </td> -->
            </ng-container>

            <ng-container matColumnDef="total">
              <th mat-header-cell *matHeaderCellDef > Total </th>
              <td mat-cell *matCellDef="let element" >{{element.total}}</td>
              <!-- <td mat-footer-cell *matFooterCellDef> {{getTotal(element)}} </td> -->
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"[ngStyle]="{color: row}"></tr>
            <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr> -->

          </table>
          <p class="text-center">
            <a data-toggle="collapse" href="#more-info" role="button" aria-expanded="false" aria-controls="collapseExample">
             Click here for more info
            </a>
          </p>
          <div class="collapse" id="more-info">
            <div class="card card-body">
                <div class="d-inline-block text-center">
                  <img src="../../../../assets/img/Issue1.jpg" class="mr-5 flex-shrink-0">
                  <img src="../../../../assets/img/Issue2.jpg">
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="training_calendar" role="tabpanel">
      <div class="training-section">
        <table class="table table-bordered text-center" >
          <thead>
            <tr>
              <th>Sr.No</th>
              <th>Training</th>
              <th>Schedule</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>2021-22 Welfare Calender and 2021 April schemes training</td>
              <td>March 2021 </td>
              <td><a class="btn btn-info" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><i class="fa fa-plus"></i></a></td>
            </tr>
          </tbody>
        </table>
        <div class="collapse multi-collapse" id="multiCollapseExample1">
          <table class="table table-bordered collapse-tablen text-center">
            <tbody>
              <tr>
                <td>2</td>
                <td>Volunteers Baselining</td>
                <td>February 2021 </td>
              </tr>
              <tr>
                <td>3</td>
                <td>Scheme Refresher Training through App</td>
                <td>January 2021</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Amma Odi and Housing Scheme Training</td>
                <td>December 2020</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Scheme Refreshner Training through App</td>
                <td>November 2020</td>
              </tr>
              <tr>
                <td>6</td>
                <td>GV/WV Behavioural Training</td>
                <td>Octobember 2020</td>
              </tr>

              <tr>
                <td>7</td>
                <td>FOA App and YSR Bhima Scheme Training</td>
                <td>September 2020</td>
              </tr>
              <tr>
                <td>8</td>
                <td>GV/WV Roles and Responsibilities</td>
                <td>August 2020</td>
              </tr>
              <tr>
                <td>9</td>
                <td>FOA Orientation</td>
                <td>July 2020</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    </div>
    <div class="tab-pane fade" id="work_reports" role="tabpanel">
      <div class="work-reports px-5 py-3 ">
        <div style="border:1px solid #cec7c7;border-radius:5px;" class="p-3">
          <h5 class="pr-5">Work Reports</h5>
          <mat-form-field appearance="outline" class="w-75">
            <mat-label>Select a Month</mat-label>
            <mat-select [(value)]="selectedReport" (selectionChange)="getURL($event)">
              <mat-option value="January 2021_FOA.pdf">January 2021</mat-option>
              <mat-option value="December 2020_FOA.pdf">December 2020</mat-option>
              <mat-option value="November 2020_FOA.pdf">November 2020</mat-option>
              <mat-option value="Octorber 2020_FOA.pdf">October 2020</mat-option>
              <mat-option value="September 2020 FOA work report-2.pdf">September 2020</mat-option>
              <mat-option value="August 2020_FOA.pdf">August 2020</mat-option>
              <mat-option value="July 2020_FOA.pdf">July 2020</mat-option>
              <mat-option value="June 2020_FOA.pdf">June 2020</mat-option>
              <mat-option value="April 2020_FOA.pdf">April 2020</mat-option>
              <mat-option value="March 2020_FOA.pdf">March 2020</mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <a href={{downloadURL}} target="_blank">Download here</a> -->
          <div class="card doc-card">
              <div class="card-body text-center">
                <p class="text-info pl-1"><a href={{downloadURL}} target="_blank">{{selectedReport}}</a></p>
                <i class="fa fa-file text-center"></i>
              </div>
              <!-- <div class="card-footer d-flex justify-content-center">
                <i class="fa fa-download"></i>
              </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade show" id="cmo" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="cmo" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">CMO Issue Tracker Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered text-center">
            <thead>
              <tr>
                <th style="background-color: #C9DDF5;">Stakeholders</th>
                <th style="background-color:#01FF00;">Green</th>
                <th style="background-color:#6E9EEA;">Blue</th>
                <th style="background-color:#FDDA66;">Orange</th>
                <th style="background-color:#FFFF00;">Yellow</th>
                <th style="background-color:red;color:#fff">Red</th>
                <th style="background-color:#000;color:#fff">Black</th>
                <th style="background-color:#135B8D;color:#fff">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="background-color: #F8E7CB;"><a [routerLink]= "['/issue-district-info']" target="_blank">Ananthapur</a></td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;" >Chittoor</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;" >East Godavari</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;" >Guntur</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">Dr.YSR Kadapa</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">Krishna</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">Kurnool</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;" >Nellore</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;" >Prakasam</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;" >Srikakulam</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">Visakapatnam</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">Vizianagaram</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">West Godavari</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">Total</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade show" id="gsws" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="gsws" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">GSWS Issue Tracker Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered text-center">
            <thead>
              <tr>
                <th style="background-color: #C9DDF5;">Stakeholders</th>
                <th style="background-color:#01FF00;">Green</th>
                <th style="background-color:#6E9EEA;">Blue</th>
                <th style="background-color:#FDDA66;">Orange</th>
                <th style="background-color:#FFFF00;">Yellow</th>
                <th style="background-color:red;color:#fff">Red</th>
                <th style="background-color:#000;color:#fff">Black</th>
                <th style="background-color:#135B8D;color:#fff">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="background-color: #F8E7CB;">Ananthapur</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;" >Chittoor</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;" >East Godavari</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;" >Guntur</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">Dr.YSR Kadapa</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">Krishna</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">Kurnool</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;" >Nellore</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;" >Prakasam</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;" >Srikakulam</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">Visakapatnam</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">Vizianagaram</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">West Godavari</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">Total</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade show" id="jc" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="jc" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">JC Issue Tracker Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered text-center">
            <thead>
              <tr>
                <th style="background-color: #C9DDF5;">Stakeholders</th>
                <th style="background-color:#01FF00;">Green</th>
                <th style="background-color:#6E9EEA;">Blue</th>
                <th style="background-color:#FDDA66;">Orange</th>
                <th style="background-color:#FFFF00;">Yellow</th>
                <th style="background-color:red;color:#fff">Red</th>
                <th style="background-color:#000;color:#fff">Black</th>
                <th style="background-color:#135B8D;color:#fff">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="background-color: #F8E7CB;">Ananthapur</td>
                <td>111</td>
                <td>20</td>
                <td>54</td>
                <td>100</td>
                <td>40</td>
                <td>100</td>
                <td>425</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;" >Chittoor</td>
                <td>142</td>
                <td>50</td>
                <td>70</td>
                <td>140</td>
                <td>60</td>
                <td>190</td>
                <td>652</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;" >East Godavari</td>
                <td>98</td>
                <td>10</td>
                <td>62</td>
                <td>50</td>
                <td>30</td>
                <td>100</td>
                <td>350</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;" >Guntur</td>
                <td>64</td>
                <td>12</td>
                <td>11</td>
                <td>40</td>
                <td>12</td>
                <td>40</td>
                <td>179</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">Dr.YSR Kadapa</td>
                <td>112</td>
                <td>7</td>
                <td>23</td>
                <td>52</td>
                <td>7</td>
                <td>52</td>
                <td>447</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">Krishna</td>
                <td>0</td>
                <td>24</td>
                <td>7</td>
                <td>40</td>
                <td>24</td>
                <td>40</td>
                <td>135</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">Kurnool</td>
                <td>63</td>
                <td>28</td>
                <td>9</td>
                <td>60</td>
                <td>28</td>
                <td>60</td>
                <td>248</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;" >Nellore</td>
                <td>72</td>
                <td>30</td>
                <td>239</td>
                <td>73</td>
                <td>30</td>
                <td>73</td>
                <td>517</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;" >Prakasam</td>
                <td>79</td>
                <td>285</td>
                <td>52</td>
                <td>69</td>
                <td>100</td>
                <td>69</td>
                <td>654</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;" >Srikakulam</td>
                <td>64</td>
                <td>12</td>
                <td>57</td>
                <td>54</td>
                <td>185</td>
                <td>54</td>
                <td>426</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">Visakapatnam</td>
                <td>350</td>
                <td>11</td>
                <td>31</td>
                <td>24</td>
                <td>23</td>
                <td>24</td>
                <td>463</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">Vizianagaram</td>
                <td>123</td>
                <td>20</td>
                <td>45</td>
                <td>11</td>
                <td>20</td>
                <td>11</td>
                <td>230</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">West Godavari</td>
                <td>137</td>
                <td>7</td>
                <td>40</td>
                <td>7</td>
                <td>7</td>
                <td>7</td>
                <td>205</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">Total</td>
                <td>1415</td>
                <td>516</td>
                <td>700</td>
                <td>720</td>
                <td>566</td>
                <td>820</td>
                <td>4737</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade show" id="mpdo" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="mpdo" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">MPDO/MC Issue Tracker Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered text-center">
            <thead>
              <tr>
                <th style="background-color: #C9DDF5;">Stakeholders</th>
                <th style="background-color:#01FF00;">Green</th>
                <th style="background-color:#6E9EEA;">Blue</th>
                <th style="background-color:#FDDA66;">Orange</th>
                <th style="background-color:#FFFF00;">Yellow</th>
                <th style="background-color:red;color:#fff">Red</th>
                <th style="background-color:#000;color:#fff">Black</th>
                <th style="background-color:#135B8D;color:#fff">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="background-color: #F8E7CB;">Ananthapur</td>
                <td>148</td>
                <td>40</td>
                <td>16</td>
                <td>62</td>
                <td>94</td>
                <td>108</td>
                <td>468</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;" >Chittoor</td>
                <td>160</td>
                <td>39</td>
                <td>12</td>
                <td>40</td>
                <td>90</td>
                <td>106</td>
                <td>447</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;" >East Godavari</td>
                <td>99</td>
                <td>30</td>
                <td>67</td>
                <td>82</td>
                <td>222</td>
                <td>341</td>
                <td>841</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;" >Guntur</td>
                <td>202</td>
                <td>26</td>
                <td>11</td>
                <td>80</td>
                <td>223</td>
                <td>111</td>
                <td>653</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">Dr.YSR Kadapa</td>
                <td>200</td>
                <td>41</td>
                <td>7</td>
                <td>74</td>
                <td>110</td>
                <td>96</td>
                <td>528</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">Krishna</td>
                <td>212</td>
                <td>42</td>
                <td>4</td>
                <td>68</td>
                <td>70</td>
                <td>98</td>
                <td>494</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">Kurnool</td>
                <td>74</td>
                <td>195</td>
                <td>19</td>
                <td>40</td>
                <td>68</td>
                <td>100</td>
                <td>496</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;" >Nellore</td>
                <td>150</td>
                <td>25</td>
                <td>20</td>
                <td>24</td>
                <td>54</td>
                <td>74</td>
                <td>347</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;" >Prakasam</td>
                <td>96</td>
                <td>12</td>
                <td>12</td>
                <td>26</td>
                <td>48</td>
                <td>80</td>
                <td>274</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;" >Srikakulam</td>
                <td>89</td>
                <td>20</td>
                <td>13</td>
                <td>162</td>
                <td>24</td>
                <td>91</td>
                <td>399</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">Visakapatnam</td>
                <td>114</td>
                <td>24</td>
                <td>7</td>
                <td>34</td>
                <td>34</td>
                <td>75</td>
                <td>288</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">Vizianagaram</td>
                <td>123</td>
                <td>11</td>
                <td>8</td>
                <td>48</td>
                <td>98</td>
                <td>66</td>
                <td>354</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">West Godavari</td>
                <td>252</td>
                <td>7</td>
                <td>4</td>
                <td>60</td>
                <td>79</td>
                <td>54</td>
                <td>456</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">Total</td>
                <td>1919</td>
                <td>512</td>
                <td>200</td>
                <td>800</td>
                <td>1214</td>
                <td>1400</td>
                <td>6045</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade show" id="vsms" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="vsms" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">VS/WS Issue Tracker Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered text-center">
            <thead>
              <tr>
                <th style="background-color: #C9DDF5;">Stakeholders</th>
                <th style="background-color:#01FF00;">Green</th>
                <th style="background-color:#6E9EEA;">Blue</th>
                <th style="background-color:#FDDA66;">Orange</th>
                <th style="background-color:#FFFF00;">Yellow</th>
                <th style="background-color:red;color:#fff">Red</th>
                <th style="background-color:#000;color:#fff">Black</th>
                <th style="background-color:#135B8D;color:#fff">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="background-color: #F8E7CB;">Ananthapur</td>
                <td>53</td>
                <td>24</td>
                <td>13</td>
                <td>30</td>
                <td>48</td>
                <td>31</td>
                <td>198</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;" >Chittoor</td>
                <td>51</td>
                <td>23</td>
                <td>12</td>
                <td>31</td>
                <td>47</td>
                <td>29</td>
                <td>193</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;" >East Godavari</td>
                <td>66</td>
                <td>75</td>
                <td>11</td>
                <td>25</td>
                <td>47</td>
                <td>30</td>
                <td>254</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;" >Guntur</td>
                <td>100</td>
                <td>77</td>
                <td>2</td>
                <td>27</td>
                <td>40</td>
                <td>50</td>
                <td>296</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">Dr.YSR Kadapa</td>
                <td>50</td>
                <td>11</td>
                <td>1</td>
                <td>29</td>
                <td>60</td>
                <td>24</td>
                <td>175</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">Krishna</td>
                <td>23</td>
                <td>7</td>
                <td>5</td>
                <td>34</td>
                <td>20</td>
                <td>89</td>
                <td>178</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">Kurnool</td>
                <td>26</td>
                <td>10</td>
                <td>14</td>
                <td>11</td>
                <td>41</td>
                <td>21</td>
                <td>123</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;" >Nellore</td>
                <td>30</td>
                <td>20</td>
                <td>15</td>
                <td>7</td>
                <td>20</td>
                <td>47</td>
                <td>139</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;" >Prakasam</td>
                <td>47</td>
                <td>8</td>
                <td>12</td>
                <td>33</td>
                <td>30</td>
                <td>32</td>
                <td>162</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;" >Srikakulam</td>
                <td>52</td>
                <td>11</td>
                <td>13</td>
                <td>8</td>
                <td>42</td>
                <td>12</td>
                <td>138</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">Visakapatnam</td>
                <td>72</td>
                <td>4</td>
                <td>1</td>
                <td>0</td>
                <td>20</td>
                <td>11</td>
                <td>108</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">Vizianagaram</td>
                <td>50</td>
                <td>7</td>
                <td>61</td>
                <td>164</td>
                <td>185</td>
                <td>12</td>
                <td>479</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">West Godavari</td>
                <td>49</td>
                <td>25</td>
                <td>0</td>
                <td>1</td>
                <td>20</td>
                <td>7</td>
                <td>102</td>
              </tr>
              <tr>
                <td style="background-color: #F8E7CB;">Total</td>
                <td>668</td>
                <td>302</td>
                <td>160</td>
                <td>400</td>
                <td>620</td>
                <td>395</td>
                <td>2545</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
