<div class="taskmain-container d-flex justify-content-center align-items-center m-5 h-100 bg-secondary">
    <mat-card class="w-100">
        <mat-card-header class="justify-content-between  m-4 border-bottom border-secondary">
            <mat-card-title>{{'tasks.task' | translate}}</mat-card-title>
            <mat-icon matTooltip="Create the task">info</mat-icon>
        </mat-card-header>
        <mat-card-content>
            <div class="p-4 d-flex justify-content-end w-100">
              <button mat-stroked-button class="col-md-3 col-sm-6 text-success" 
                (click)="createTask()">Create Task</button> 
            </div>
            <!-- <form [formGroup]="taskForm" class="p-2 d-flex flex-start flex-wrap">
                <mat-form-field class="mt-2 col-md-2 col-sm-4 col-xs-12" appearance="outline">
                    <mat-label>{{'reports.district' | translate}}</mat-label>
                    <mat-select formControlName = "district" placeholder=" Select District" #districtSelect
                      (selectionChange)="filterLocations($event, 2)">
                      <mat-option>
                        <ngx-mat-select-search formControlName = "districtFilter" 
                            placeholderLabel="Find District..." 
                            noEntriesFoundLabel="'no matching district found'"
                        ></ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let district of filteredDistricts | async" [value]="district._id">
                        {{district.locationName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="mt-2 col-md-2 col-sm-4 col-xs-12" appearance="outline">
                    <mat-label>{{'reports.parliament' | translate}}</mat-label>
                    <mat-select formControlName = "parliament" placeholder=" Select Parliament" #parliamentSelect
                    (selectionChange)="filterLocations($event, 3)">
                      <mat-option>
                        <ngx-mat-select-search formControlName = "parliamentFilter" 
                            placeholderLabel="Find Parliament..." 
                            noEntriesFoundLabel="'no matching parliament found'"
                        ></ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let parliament of filteredParliaments | async" [value]="parliament._id">
                        {{parliament.locationName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="mt-2 col-md-2 col-sm-4 col-xs-12" appearance="outline">
                    <mat-label>{{'reports.assembly' | translate}}</mat-label>
                    <mat-select formControlName = "assembly" placeholder=" Select Assembly" #assemblySelect
                    (selectionChange)="filterLocations($event, 4)">
                      <mat-option>
                        <ngx-mat-select-search formControlName = "assemblyFilter" 
                            placeholderLabel="Find Assembly..." 
                            noEntriesFoundLabel="'no matching assembly found'"
                        ></ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let assembly of filteredAssemblies | async" [value]="assembly._id">
                        {{assembly.locationName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="mt-2 col-md-2 col-sm-4 col-xs-12" appearance="outline">
                    <mat-label>{{'reports.mandal' | translate}}</mat-label>
                    <mat-select formControlName = "mandal" placeholder=" Select mandal" #mandalSelect>
                      <mat-option>
                        <ngx-mat-select-search formControlName = "mandalFilter" 
                            placeholderLabel="Find mandal..." 
                            noEntriesFoundLabel="'no matching mandal found'"
                        ></ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let mandal of filteredMandals | async" [value]="mandal._id">
                        {{mandal.locationName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="mt-2 col-md-2 col-sm-4 col-xs-12" appearance="outline">
                    <mat-label>{{'reports.secretariat' | translate}}</mat-label>
                    <mat-select formControlName = "secretariat" placeholder=" Select Secretariat" #secretariatSelect>
                      <mat-option>
                        <ngx-mat-select-search formControlName = "secretariatFilter" 
                            placeholderLabel="Find Secretariat..." 
                            noEntriesFoundLabel="'no matching secretariat found'"
                        ></ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let secretariat of filteredSecretariats | async" [value]="secretariat.value">
                        {{secretariat.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="mt-2 col-md-2 col-sm-4 col-xs-12" appearance="outline">
                    <mat-label>{{'reports.gvType' | translate}}</mat-label>
                    <mat-select formControlName = "gvType" placeholder=" Select GvType" #gvTypeSelect>
                      <mat-option>
                        <ngx-mat-select-search formControlName = "gvTypeFilter" 
                            placeholderLabel="Find GvType..." 
                            noEntriesFoundLabel="'no matching GvType found'"
                        ></ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let gvType of filteredGvTypes | async" [value]="gvType.value">
                        {{gvType.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="mt-2 col-md-2 col-sm-4 col-xs-12" appearance="outline">
                    <mat-label>{{'tasks.taskAssignedTo' | translate}}</mat-label>
                    <mat-select formControlName = "user" placeholder="Task Assigned to" [multiple]="true" #userSelect>
                      <mat-option>
                        <ngx-mat-select-search formControlName = "userFilter"
                        [showToggleAllCheckbox]="true" (toggleAll)="toggleSelectAll($event)" 
                        [toggleAllCheckboxTooltipMessage]="tooltipMessage"
                        [toogleAllCheckboxTooltipPosition]="'above'"
                            placeholderLabel="Find User..." 
                            noEntriesFoundLabel="'no matching user found'"
                        ></ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let user of filteredUsers | async" [value]="user._id">
                        {{user.userId}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="mt-2 col-md-2 col-sm-4 col-xs-12" appearance="outline">
                    <mat-label>{{'tasks.category' | translate}}</mat-label>
                    <mat-select formControlName = "category" placeholder=" Select category" #categorySelect>
                      <mat-option>
                        <ngx-mat-select-search formControlName = "categoryFilter" 
                            placeholderLabel="Find category..." 
                            noEntriesFoundLabel="'no matching category found'"
                        ></ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let category of filteredCategories | async" [value]="category._id">
                        {{category.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="mt-2 col-md-2 col-sm-4 col-xs-12" appearance="outline">
                    <mat-label>{{'tasks.priority' | translate}}</mat-label>
                    <mat-select formControlName = "priority" placeholder=" Select priority" #prioritySelect>
                      <mat-option>
                        <ngx-mat-select-search formControlName = "priorityFilter" 
                            placeholderLabel="Find priority..." 
                            noEntriesFoundLabel="'no matching priority found'"
                        ></ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let priority of filteredPriorities | async" [value]="priority.value">
                        {{priority.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <div class="d-flex justify-content-around w-100">
                        <div class="p-3 col-md-12">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{'tasks.taskName' | translate}}</mat-label>
                                <input matInput placeholder="Task Name" formControlName="name" required>
                            </mat-form-field>
                            <p *ngIf="f.name.touched && f.name.invalid && f.name.errors.cannotStartWithSpace" class="text-danger">
                              Name cannot start with white spaces.
                          </p>
                        </div>
                    </div>

                    <div class="d-flex justify-content-around w-100">
                        <div class="p-3 col-md-12">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{'tasks.description' | translate}}</mat-label>
                                <textarea matInput placeholder="Task Description" formControlName="description" required></textarea>
                            </mat-form-field>
                            <p *ngIf="f.description.touched && f.description.invalid && f.description.errors.cannotStartWithSpace" class="text-danger">
                              Description cannot start with white spaces.
                          </p>
                        </div>
                    </div>

                    <div class="d-flex justify-content-around w-100">
                        <div class="p-3 col-md-12  file-uploaddiv">
                            <mat-form-field  class="w-100" appearance="outline">
                                <mat-label>{{'tasks.fileUpload' | translate}}</mat-label>
                                <ngx-mat-file-input #fileUploader formControlName="file" placeholder="file upload" 
                                  [accept]="'image/*,.pdf,.csv'" multiple>
                                </ngx-mat-file-input>
                                <button mat-icon-button matSuffix *ngIf="!fileUploader.empty" (click)="fileUploader.clear($event)">
                                    <mat-icon>clear</mat-icon>
                                </button>
                                <mat-icon matSuffix>attachment</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    
                    <div class="d-flex justify-content-center align-items-center w-100">
                        <button type="button" mat-raised-button class="btn btn-success align-self-center col-md-5" 
                                (click)="uploadFile()"
                                [disabled]="!taskForm.valid || fileUploader.empty">{{'tasks.submitTask' | translate}}
                        </button>
                    </div>
            </form> -->
        </mat-card-content> 
        <mat-card-content *ngIf="tasksDataSource.data.length > 0" class="m-4">
          <!-- <mat-form-field class="w-100">
            <mat-label>{{'tasks.searchTasks' | translate}}</mat-label>
            <input matInput [(ngModel)]="search" #taskInput>
          </mat-form-field> -->
          
          <table mat-table [dataSource]="tasksDataSource" class="mat-elevation-z8 w-100">
            
            <ng-container matColumnDef="No">
              <th mat-header-cell *matHeaderCellDef> {{'tasks.number' | translate}} </th>
              <td mat-cell *matCellDef="let element; let i= index"> {{offset + i + 1}} </td>
            </ng-container>
            <!-- Position Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> {{ 'tasks.taskName' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> {{ 'tasks.description' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="priority">
              <th mat-header-cell *matHeaderCellDef> {{ 'tasks.priority' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{element.priority === 1 ? 'Low' : element.priority === 2 ? 'Medium' : 'High'}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="createdOn">
              <th mat-header-cell *matHeaderCellDef> {{ 'tasks.createdOn' | translate}} </th>
              <td mat-cell *matCellDef="let element"> {{convertDate(element.createdOn)}} </td>
            </ng-container>
          
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> {{'tasks.category' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.category.name}} </td>
              </ng-container>
          
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> {{'tasks.status' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> {{'tasks.action' | translate}} </th>
              <td mat-cell *matCellDef="let element"> 
                <button mat-icon-button (click)="editTask(element)">
                  <mat-icon color="primary">edit</mat-icon>
                </button>
            
                <button mat-icon-button (click)="deleteTask(element)">
                  <mat-icon color="warn">delete</mat-icon>
                </button>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
            <!-- Row shown when there is no matching data. -->
            <!-- <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr> -->
          </table>
          
          <mat-paginator [pageSize]="limit" [length]="tasksLength"
                [pageSizeOptions]="[5, 10, 20]" (page)="onPaginateChange($event)">
          </mat-paginator>
        </mat-card-content>
    </mat-card>
</div>
