.uploadUser-container{
    .mat-card{
        &.mat-focus-indicator{
            box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
        }
        .mat-card-header{
            .mat-card-header-text{
                margin:0px 0px !important;
                font-family: 'Roboto';
            }
        }
        .file-uploaddiv{
            .mat-form-field-suffix {
                display:flex;
                .mat-icon{
                    margin-top:5px;
                }
            }
        }
    }
}
