<div class="d-flex justify-content-center align-items-center h-100">
    <mat-card>
        <mat-card-header class="justify-content-between border-bottom">
            <mat-card-title>{{title}}</mat-card-title>
            <mat-icon>refresh</mat-icon>
        </mat-card-header>
        <mat-card-content>
            <div class="d-flex flex-column">
                <div class="p-2">Total {{subtitle}}'s</div>
                <div class="p-2">
                    <mat-icon>person</mat-icon>
                    <span class="">{{count}}</span>
                </div>
              </div>
        </mat-card-content> 
    </mat-card>
</div>
