<div class="main-container">
    <div class="logo">
            <img src="../../../../assets/img/emblem.png" width="150" height="150">
    </div>
    <div class="second-div">
        <div class="text">
            <p>సంక్షేమ పథకాల అమలులో కొత్త ఒరవడి సృష్టిస్తున్న <br> ఆంధ్రప్రదేశ్ ప్రభుత్వం.</p>
        </div>

        <div class="foa">
            <img src="../../../../assets/img/foa.jpg" width="300">
        </div>

        <div class="launch-button">
            <img src="../../../../assets/img/button.png" width="355" (click)="onLaunch()">
        </div>

        <div class="text2">
            <p>నూతన ఒరవడికి శ్రీకారం చుడుతున్న <br>గౌ.ముఖ్యమంత్రివర్యులు<br> శ్రీ.వైయస్ జగన్ మోహన్ రెడ్డి గారు.</p>
         </div>
    </div>
</div>